name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  python-ci:
    runs-on: ubuntu-latest
    env:
      DEBUG: "True"
      UPLOAD_DIR: "/tmp/uploads"
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      working-directory: .
      run: |
        pip install -r requirements.txt
    - name: Lint with ruff
      working-directory: .
      run: |
        ruff check .
    - name: Run unit tests (pytest)
      working-directory: .
      run: |
        pytest -v
  docker-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

      - name: Build Docker image
        run: |
          docker build -t amlytica:ci .
